[buildout]
extends  = base-odoo-pgcontrib.cfg versions.cfg odoo.cfg
bin-directory = ${buildout:directory}/bin
config-directory = ${buildout:directory}/etc
templates-directory = ${buildout:directory}/templates
versions = versions

parts +=
    env
    py
    odoo
    postgres
    psycopg2
    pgbouncer
    pgbouncer_users
    pgbouncer_conf
    supervisor
    postgres-conf
    pg-hba-conf
    pg-ident-conf
    scripts
    supervisor-cron
    initdb

eggs +=
extensions = mr.developer
auto-checkout = *

sources-dir = eggs-custom

[sources]
pychart = git https://github.com/Infinite-Code/PyChart
py3o.template = hg https://bitbucket.org/faide/py3o.template rev=0.9.13
pymssql = git https://github.com/pymssql/pymssql
xmlsig = git https://github.com/etobella/python-xmlsig.git
